
.imperio {
    background-color: red;
}

.rebeldes {
    background-color: blue;
}

.soldados-text {
    letter-spacing: 10px;
}

.soldados-border {
    border: dashed;
}

.apoyo {
    text-align: center;
}

.naves {
    text-transform: uppercase;
}

#darth-style {
    font-size: larger;
}

#skywalker-style {
    font-style: italic;
}

